.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

body {
  background-color: black;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  display: flex;
  display: webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  min-height: calc(100vh - 20px);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ffff5a;
}

#title {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.833rem;
  padding-top: 25px;
}

#nav-container {
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.nav-item {
  font-size: 1.66rem;
  font-weight: bold;
  letter-spacing: 0.416rem;
  margin-right: 40px;
}

main {
  flex-grow: 1;
}

#mammals-img-container {
  display: flex;
  min-height: 70vh;
  align-items: flex-end;
  justify-content: center;
}

#mammals-img {
  height: 160px;
  max-width: 100%;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/video-placeholder.png) no-repeat;
  background-size: cover;
}

@media screen and (max-device-width: 767px) {
  body {
    background: url(../img/video-placeholder.png) #000 no-repeat center center fixed;
    background-size: cover;
  }
  #bgvid {
    display: none;
  }
}

@media screen and (max-device-width: 425px) {
  #title {
    font-size: 2.8rem;
    letter-spacing: 0.332rem;
  }
  #nav-container {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .nav-item {
    margin-right: 0px;
    margin-top: 5px;
    font-size: 1.4rem;
  }
}

@media screen and (max-device-width: 375px) {
  #title {
    font-size: 2.3rem;
  }
  #mammals-img-container {
    min-height: 65vh;
  }
  #mammals-img {
    height: 120px;
  }
}

@media screen and (max-device-width: 325px) {
  #title {
    font-size: 2rem;
  }
}

footer {
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.footer-item {
  padding-right: 15px;
}

.social-icon {
  width: 24px;
  height: 24px;
  background-color: white;
  display: inline-block;
  mask-size: cover;
  -webkit-mask-size: cover;
}

.social-icon:hover {
  background-color: #ffff5a;
}

.twitter-icon {
  -webkit-mask-image: url("../img/twitter.svg");
  mask-image: url("../img/twitter.svg");
}

.facebook-icon {
  -webkit-mask-image: url("../img/facebook.svg");
  mask-image: url("../img/facebook.svg");
}

.instagram-icon {
  -webkit-mask-image: url("../img/instagram.svg");
  mask-image: url("../img/instagram.svg");
}

.youtube-icon {
  -webkit-mask-image: url("../img/youtube.svg");
  mask-image: url("../img/youtube.svg");
}

.vimeo-icon {
  -webkit-mask-image: url("../img/vimeo.svg");
  mask-image: url("../img/vimeo.svg");
}
